.page-start {

  $margin: 16px;

  #container {
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    background-color:	rgba(135, 207, 235, 0.795);
  }

  #buttons-container {
    position: absolute;
    bottom: $margin;
    right: $margin;
    left: $margin;
  }

  button + button {
    margin-top: $margin;
  }
}
