<ion-header>

  <ion-navbar color="primary">
    <ion-title>Log in</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-login">

  <h1 text-center>My Places Manager</h1>

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Tu email"
        [class.invalid]="!loginForm.controls.email.valid
        && loginForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
      *ngIf="!loginForm.controls.email.valid && loginForm.controls.email.dirty">
      <p>Introduce un email válido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Tu contraseña"
        [class.invalid]="!loginForm.controls.password.valid
        && loginForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
    *ngIf="!loginForm.controls.password.valid && loginForm.controls.password.dirty">
    <p>La contraseña debe tener al menos {{ passwordMinLength }} caracteres</p>
  </ion-item>

    <button ion-button block large text-uppercase type="submit" [disabled]="!loginForm.valid">
      Log in
    </button>

  </form>

</ion-content>
