<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentSearchModal()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Sitios cercanos</ion-title>

  </ion-navbar>

</ion-header>


<ion-content>

  <div class="center-vertical" *ngIf="places?.length === 0">
    <h3>Búsqueda sin resultados</h3>
    <ion-icon name="remove-circle"></ion-icon>
  </div>

  <place-card *ngFor="let place of places" [place]="place"></place-card>

  <ion-infinite-scroll (ionInfinite)="loadMorePlaces($event)">
    <ion-infinite-scroll-content loadingText="Cargando lugares..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
