.page-register {

  h1 {
    margin: 15px;
  }

  button {
    margin-top: 40px;
  }

  p {
    font-size: 0.8em;
    color: #ee4141;
  }

  .invalid {
    border-bottom: 1px solid #ff6153;
  }

  .error {
    border-bottom: 0 !important;
  }
}
