<ion-header>

  <ion-navbar>
    <ion-title>Crear una cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="page-register">

  <h1 text-center>My Places Manager</h1>

  <form [formGroup]="registerForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Nombre de usuario</ion-label>
      <ion-input #username formControlName="username" placeholder="Tu nombre de usuario"
        [class.invalid]="!registerForm.controls.username.valid
        && registerForm.controls.username.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
      *ngIf="!registerForm.controls.username.valid && registerForm.controls.username.dirty">
      <p>Caracteres permitidos: letras, números, ., _ y -</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Tu email"
        [class.invalid]="!registerForm.controls.email.valid
        && registerForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
      *ngIf="!registerForm.controls.email.valid && registerForm.controls.email.dirty">
      <p>Introduce un email válido</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Tu contraseña"
        [class.invalid]="!registerForm.controls.password.valid
        && registerForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
      *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
      <p>La contraseña debe tener al menos {{ passwordMinLength }} caracteres</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bio</ion-label>
      <ion-input #bio formControlName="bio" placeholder="Una pequeña descripción"
        [class.invalid]="!registerForm.controls.bio.valid
        && registerForm.controls.bio.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-lines class="error"
      *ngIf="!registerForm.controls.bio.valid && registerForm.controls.bio.dirty">
      <p>Longitud máxima {{ bioMaxLength }} caracteres</p>
    </ion-item>

    <button ion-button block large text-uppercase type="submit" [disabled]="!registerForm.valid">
      Registro
    </button>

  </form>

</ion-content>
