page-profile {

  $margin: 16px;

  #background {
    height: 25%;
    min-height: 100px;
    position: relative;
    background: #00bfff;
  }

  #image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  #user-info {
    margin-top: 90px;
    margin-left: $margin;
    margin-right: $margin;
  }
}
