page-profile {

  $margin: 16px;

  #background {
    height: 25%;
    min-height: 100px;
    position: relative;
    background: #386fe6;
  }

  #image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    height: 120px;
  }

  #username {
    margin-top: 80px;
    font-weight: bold;
    font-size: 20px;
  }

  #bio {
    margin: $margin 3*$margin;
    position: relative;
    text-align: justify;
    font-size: 15px;
  }

  #start-quote {
    position: absolute;
    top: 0;
    left: -20px;
  }

  #end-quote {
    position: absolute;
    bottom: 0;
    right: -20px;
  }

  #lists {
    margin-top: 45px;
    font-size: 22px;
  }
}
