<ion-header>

  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Mis listas</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="center-vertical" *ngIf="(lists|async)?.length === 0">
    <h3>No tienes listas aún</h3>
    <ion-icon name="albums"></ion-icon>
    <h3>¡Crea una!</h3>
  </div>

  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let list of lists | async">
      <ion-item (click)="onListClicked(list.payload.key)">
        <h2>{{ list.payload.val().name }}</h2>
        <p>{{ list.payload.val().description }}</p>
        <ion-badge item-end>{{ list.payload.val().numItems }} items</ion-badge>
      </ion-item>
      <ion-item-options side="right" (ionSwipe)="delete(slidingItem, list.payload.key)">
        <button ion-button icon-only color="danger" (click)="delete(slidingItem, list.payload.key)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
