page-my-lists {

  #no-lists {
    height: 100%;
    justify-content: center;
    text-align: center;
    ion-icon {
      margin: 20px;
      font-size: 100px;
    }
  }

  #card-header {
      font-size: 18px;
      font-weight: bold;
  }

  #card-content {
    margin-top: -10px;
    #desc {
      font-style: italic;
    }
  }
}
