<ion-card (click)="goToDetail()">

  <img [src]="imageUrl" alt="Imagen del lugar">
  
  <ion-item>
    <h2 id="place-name">
      {{ place.name }}
    </h2>
    <p *ngIf="place.vicinity" id="place-address">
        {{ place.vicinity }}
    </p>
    <p *ngIf="place.formatted_address" id="place-address">
      {{ place.formatted_address }}
    </p>
  </ion-item>

  <ion-card-content>
    <ion-row class="row">
      <ion-col *ngIf="place.opening_hours">
        <div>
          <ion-icon name="clock"></ion-icon>
          <span *ngIf="place.opening_hours.open_now" class="place-open">
            Abierto ahora
          </span>
          <span *ngIf="!place.opening_hours.open_now" class="place-closed">
            Cerrado ahora
          </span>
        </div>
      </ion-col>
      <ion-col *ngIf="place.rating">
        <div>
          <ion-icon name="star" style="color: #FFD700;"></ion-icon>
          Puntuación
          <ion-badge item-end color="secondary">{{ place.rating }}</ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-content>

  <ion-row no-padding class="row">
    <ion-col>
      <button ion-button clear small style="color: #FFD700;" icon-start (click)="test()">
        <ion-icon name='star'></ion-icon>
        FAV
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="secondary" icon-start>
        <ion-icon name='list'></ion-icon>
        LISTA
      </button>
    </ion-col>
    <ion-col text-right>
      <button ion-button clear small color="primary" icon-start>
        <ion-icon name='share-alt'></ion-icon>
        COMPARTIR
      </button>
    </ion-col>
  </ion-row>  
</ion-card>
