<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="place">{{ place.name }}</ion-title>
  </ion-navbar>

</ion-header>
  

<ion-content class="page-place-detail">
    
  <ion-card>
      
    <img [src]="imageUrl" (click)="onImageClicked()">

    <ion-card-content>

      <ion-card-title *ngIf="place">
        {{ place.name }}
        <span id="address">{{ place.formatted_address }}</span>
      </ion-card-title>

      <p *ngIf="place" id="types">
        <strong>Tipos:</strong> {{ place.types.join(', ') }}
      </p>

      <ion-item *ngIf="place" no-padding>
        <ion-icon name="heart" item-start color="danger"></ion-icon>
        Rating
        <ion-badge item-end>{{ place.rating }}</ion-badge>
      </ion-item>

      <ion-item *ngIf="place" no-padding>
        <ion-icon name="call" item-start color="secondary"></ion-icon>
        Teléfono
        <a item-end (click)="launchDialer(place.international_phone_number)">
          {{ place.international_phone_number }}
        </a>
      </ion-item>

      <ion-item *ngIf="place" no-padding>
        <ion-icon name="watch" item-start></ion-icon>
        UTC offset
        <span item-end>{{ place.utc_offset / 60 }} horas</span>
      </ion-item>

      <ion-item *ngIf="place" no-padding>
        <ion-icon name="link" item-start></ion-icon>
        <a item-end (click)="onLinkClicked(place.website)">{{ place.website }}</a>
      </ion-item>
      
      <div text-center>
        <button ion-button icon-left outline
          (click)="savePlace(place.place_id, place.name, place.formatted_address, imageUrl)">
          <ion-icon name="archive"></ion-icon>
          AÑADIR A LISTA
        </button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>
